@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #6ee7b7 transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #6ee7b7;
  border-radius: 99px;
}
